import("numDeriv", "MASS", "Rsolnp") 
export("semiMarkov", "hazard", "param.init", "table.state")
S3method(print, semiMarkov)
S3method(summary, semiMarkov)
S3method(print, hazard)
S3method(summary, hazard)
S3method(plot, hazard)


